/* .header {
  background-color: #00a884;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 222px;
} */

.container {
  margin: 27px auto 28px;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: flex-start;
  width: 1000px;
  min-height: 39px;
  outline: none;
  padding: 0;
}

.logo {
  display: inline-block;
  vertical-align: top;
}

.headertitle {
  margin-left: 14px;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  text-transform: uppercase;
  vertical-align: middle;
}