.container {
  padding: 30px;
  background-color: #eaf6f2;
  width: 65%;
}

.chat {
  padding: 20px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputgroup {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.input {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #41525d;
  width: 90%;
  padding: 10px 10px 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
}

.button {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 7px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  color: #41525d;
  font-weight: 500;
  font-size: 24px;
}